
.navbar{
    position: sticky;
    top:0px;
    z-index: 17;
    padding: 2%;
    border: 0;
    background-color: #ecf0f3;
  }

  .navbar div{
    background-color: #ecf0f3;
  }


.navbar-brand{
    max-height: 50px;
    min-height: 100%;
    width: 20%;
    padding: 0;
    object-fit: cover;
}
.nav-item{
    margin-left: 2%;
    margin-right: 2%;

    color: #3c3e41;
}
.nav-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #3c3e41;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #ecf0f3;
}
.intro{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #1E2125;
}

.pink-title{
    color: #ff004f;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
}

.sectiontitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #3c3e41;
    font-size: 48px;
}

#roletext{
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #1E2125;
    
}
.descriptions{
    font-size: 16px; 
    color: #3c3e41;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
}

.logodesctext{
    color: #1e2125; 
    font-size:14px;
    font-family: "Poppins", sans-serif;
}
.firstsection{
    display:flexbox;
    width: 100%;
    background-color: #ecf0f3;
    margin:0; 
    height: 100%;
    padding-left: 10%;
}
.secondsection{
    display:flexbox;
    width: 100%;
    background-color: #ecf0f3;
    margin:0; 
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: -1;
}
.container{
    margin: 0;
    width: 100%;
}
.photo{
    width: 100%;
    height: 100%;
}

.definition{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.definitonfirsthalf{
    margin-top: 20%;
    margin-bottom: 10%;
}
.definitonsecondhalf{
    width: 70%;
}




.logo{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 25%;
}
.bottomlogo{
    width: 60%;
    margin-top: 10%;
}
.logohovered{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 25%;

    display: none;

}
.logocard{
    background-color: #ecf0f3;
    border: none;
    width: 80px;
    height: 80px;
}

.logocard .card{
    background-color: #ecf0f3;
    border: none;
    transition: transform ease 300ms;
}

.logocard .card:hover{
    background-color: #ff004f;
    border: none;
    transform: translate(0, -3px);
}


.logocard .card:hover .logo{
    display: none;
    }
.logocard .card:hover .logohovered{
    display: block;
    }


.linebreak{
    color: grey;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.skilllogo{
width: 20%;
margin-top: 10%;
height: 40%;
}

.skillcard{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}

.skillcard .skilllogo{
    margin-bottom: 5%;
}

.skillcard .skilltitle{
    margin-bottom: 10%;
    color: #1E2125;
    font-family: "Montserrat", sans-serif;
    font-weight: 24px;
}

.skilllogohovered{
    display: none;
    width: 20%;
    margin-top: 10%;
    height: 40%;
}
.skillcard:hover .skilllogo{
    display: none;
    }
.skillcard:hover .skilllogohovered{
    display: block;
    }
.skillcard:hover{
background: #ff004f;
color: #fff;
-webkit-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}
.skillcard:hover .skilltitle{
    color: #fff;
}

.skillcard:hover .descriptions{
    color: #fff;
}

.websitecard{
    padding: 8%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    border-radius: 10%;
    
}

.websitecard:hover h2{
    color: #ff004f;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    line-height: 34px;
    font-weight: 600;
}

.websitecard:hover .websiteimg{
    transform: scale(1.1);
}
.websiteimg{
    width:100%;
    border-radius: 10%;
    margin-bottom: 6%;
    transition: 0.5s all ease-in-out;
}
.arrowpink{
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.3s ease; /* Transition effect for opacity */
}
.websitecard:hover .arrowpink{
    opacity: 1;
}

.blogcard:hover .arrowpink{
    opacity: 1;
}

.noformatlink:link{
    color: inherit;
    text-decoration: none;
}
.projectrow{
    margin-bottom: 3%;
}

.modal{
    width: 100%;
    margin: 0;
}

.modal-content{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    padding: 5%;
    width: 80%;
    margin-left: 10%;
}

.modal-dialog{
    margin: 0;
    max-width: 100%;
    min-width: 100%;
}
.modal-dialog-centered{
    width: 100%;
    margin: 0;
}

.modal-footer button{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    border:2px solid #ff004f ;
    color: #ff004f;
}

.projecttitle{
    color: #ff004f;
    font-size:12px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}
.projecttitleinpopup{
    color: #ff004f;
    font-family: "Montserrat", sans-serif;
    line-height: 1.3;
}
.websitecard h2{
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    line-height: 34px;
    font-weight: 600;
    color: #1E2125;
}

.close{
    margin-left: 30%;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.companycont{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
}
.companyname{
    
    font-family: "Montserrat", sans-serif;
    line-height: 1.3;
    color:#1e2125;
}

.companyjd , .badge{
    font-weight: normal;
    font-size:12px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
}

.text-box:hover{
background: #ff004f;
color: #fff;
}
.text-box:hover .companyname{
    color: #e2e8ec;
}
.text-box:hover .leftcontarrow{
    border-left: 15px solid #ff004f;
    }
.text-box:hover .rightcontarrow{
        border-right: 15px solid #ff004f;
        }

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.companycont:nth-child(2){
    animation-delay: 1s;
}
.companycont:nth-child(3){
    animation-delay: 2s;
}
.companycont:nth-child(4){
    animation-delay: 3s;
}

.text-box{
    padding: 20px 30px;

    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.leftcont{
    left:0;
}

.rightcont{
    left:50%;
}

.companycont img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 15;
}

.rightcont img{
    left: -20px;
    z-index: 10;

}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #ff004f;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 3;
    animation: moveline 6s linear infinite 3s forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }

}

.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.leftcontarrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;

}
.rightcontarrow{
    height: 0;
    width: 0;
    position: absolute;
    top:28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .logo{
        width: 20px;
        height: 20px;
    }
    .logocard{
        max-width: 30%;
    }
    .logocard .card{
        width: 30%;
        max-width: 30%;
    }
    .websitecard{
        margin-bottom: 5%;
    }

    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left:31px;
    }

    .companycont{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .rightcont{
        left: 0;
    }
    .leftcont img, .rightcont img{
        left: 10px;
    }

    .leftcontarrow, .rightcontarrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left:-20px;
    }
    .contactmelogo{
        max-width: 70px;
        max-height: 70px;
    }
}

.badge{
    background: #ff004f;
    padding: 2%;
    margin: 1%;
}

.blogcard{
    margin-top: 5%;
    border-radius: 10px;

    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}

.blogimg{
    margin: 5%;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}

.blogtitle{
    margin: 5%;
    font-size: 24px;

}

.blogcard:hover .blogtitle{
    color: #ff004f;
}

.blogcard:hover .blogimg{
    transform: scale(1.1);

}

.certificatecard{
    padding-left: 5%;
    padding-bottom: 20%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    padding-right: 5%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}

.certificatedate{
    font-size: 14px;
    font-weight: bold;
}

.contactmecard{
    padding: 4%;
    border-radius: 5px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}
.contactmelogo{
    width: 40%;
    border-radius: 50%;
    margin-left: 40%;
}

.contacttitle{
    color: #3c3e41;
    font-weight: bold;
    font-size: 24px;
}

/* Dark Mode Styles Start */

.dark-mode{
    background-color: #212428;
  }

  .navlink-dark{
    color: #C4CFDE;
  }

  .navlink-dark:hover{
    color:#ff004f;
  }
  
  .firstsection-dark{
    display:flexbox;
    width: 100%;
    background-color: #212428;
    margin:0; 
    height: 100%;
    padding-left: 10%;
}

.intro-dark{
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffffff;
}

#roletext-dark{

    color: #FFFFFF;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.descriptions-dark{
    font-size: 16px; 
    color: #C4CFDE;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
}

.logodesctext-dark{
    color: #ffffff; 
    font-size:14px;
    font-family: "Poppins", sans-serif;
}


.secondsection-dark{
    display:flexbox;
    width: 100%;
    background-color: #212428;
    margin:0; 
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: -1;
}

.sectiontitle-dark{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #C4CFDE;
    font-size: 48px;
}



.skillcard-dark{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    background: linear-gradient(145deg, #1e2024, #23272b);
}
.skillcard-dark .skilllogo{
    margin-bottom: 5%;
}

.skillcard-dark .skilltitle{
    margin-bottom: 10%;
    color: #C4CFDE;
    font-family: "Montserrat", sans-serif;
    font-weight: 24px;
}

.skillcard-dark:hover .skilllogo{
    display: none;
    }
.skillcard-dark:hover .skilllogohovered{
    display: block;
    }
.skillcard-dark:hover{
background: #ff004f;
color: #fff;
-webkit-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}
.skillcard-dark:hover .skilltitle{
    color: #fff;
}

.skillcard-dark:hover .descriptions-dark{
    color: #fff;
}

.websitecard-dark{
    padding: 8%;
    background: linear-gradient(145deg, #1e2024, #23272b);
    border-radius: 10%;
    
}

.websitecard-dark:hover h2{
    color: #ff004f;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    line-height: 34px;
    font-weight: 600;
}

.websitecard-dark:hover .websiteimg{
    transform: scale(1.1);
}

.websitecard-dark h2{
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    line-height: 34px;
    font-weight: 600;
    color: #C4CFDE;
}
.websitecard-dark:hover .arrowpink{
    opacity: 1;
}

.modal-content-dark{
    background: linear-gradient(145deg, #1e2024, #23272b);
    padding: 5%;
    width: 80%;
    margin-left: 10%;
}

.modal-content-dark h4{
    color: #fff;
    font-weight: bold;
}
.modal-content-dark h3{
    color: #fff;
    font-weight: bold;
}

.text-box-dark{
    padding: 20px 30px;

    background: linear-gradient(145deg, #1e2024, #23272b);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.text-box-dark:hover{
    background: #ff004f;
    color: #fff;
    }
    .text-box-dark:hover .companyname{
        color: #e2e8ec;
    }
    .text-box-dark:hover .leftcontarrow{
        border-left: 15px solid #ff004f;
        }
    .text-box-dark:hover .rightcontarrow{
            border-right: 15px solid #ff004f;
            }

.text-box-dark .companyname{
    color: #fff;
}

.text-box-dark .companyjd{
    color: #C4CFDE;
}

.blogcard-dark{
    margin-top: 5%;
    border-radius: 10px;
    background: linear-gradient(145deg, #1e2024, #23272b);
}

.blogcard-dark .blogtitle{
    color: #C4CFDE;
}

.certificatecard-dark{
    padding-left: 5%;
    padding-bottom: 20%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    padding-right: 5%;
    background: linear-gradient(145deg, #1e2024, #23272b);
}

.certificatecard-dark .skilltitle{
    color: #C4CFDE;
}

.certificatecard-dark .certtitle, .certificatedate{
    color: #C4CFDE;
}

.contactmecard-dark{
    padding: 4%;
    border-radius: 5px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    color: #C4CFDE;
}

.contactmecard-dark .contacttitle{
    color: #C4CFDE;

}

.logocard-dark{
    background-color: #212428;
    border: none;
    width: 80px;
    height: 80px;
}


.logocard-dark .card{
    background-color: #212428;
    border: none;
    transition: transform ease 300ms;
}