.navbar-right{
    display: flex;
    align-items:right;
}

.name{
    padding-top: 120px;
    display: flex;
    padding-left: 20%;
    width:1200px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#text{
    text-decoration: underline;
}

.container2{
    min-width:92%;
    max-width: 97%;
    margin-left: 1%;
    
}

.body{
    max-width:98%;
}

.about-me{
    padding-top:18%;
}

.details{
    color:#999999;
}

.experience{
    margin-top: 6%;
    background-color: #faf8f8;
}

#exTab1{
    max-width: 100%;
    margin-top: 2%;
}

.nav-pills>li.active>a{
    background: #087E8B;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
   }

   .progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
  } 

  .progress-bar .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
  
  @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
  @keyframes show  {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .progress-bar{
      background-color: #087E8B;
  }